annotated-types==0.7.0
bitarray==3.8.1
cbor2==5.9.0
cytoolz==1.1.0
ecdsa==0.19.2
iniconfig==2.3.0
mnemonic==0.21
numpy==2.4.4
opencv-python-headless==4.13.0.92
packaging==26.0
parsimonious==0.10.0
pillow==12.2.0
pluggy==1.6.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
Pygments==2.20.0
pytest==9.0.2
pytest-asyncio==1.3.0
evdev
pyzbar==0.1.9
qrcode==8.2
regex==2026.3.32
six==1.17.0
stellar-sdk==13.2.1
xdrlib3==0.1.1
pynacl==1.6.2
requests==2.33.1
requests-sse==0.5.3
urllib3==2.6.3
certifi==2026.4.22
cffi==2.0.0
pycparser==3.0
charset_normalizer==3.4.7
idna==3.13
toolz==1.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
python-xlib
